@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* CSS Document */

*{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	background-size: cover;
}

  /* Zoeken */

.test{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-box{
  width: 20.833333333333332vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-box h1{
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 2vh;
}

.item-search-box {
  background: #1c1e31;
  height: 70px;
  border-radius: 50px;
  padding: 10px;
}

.search-btn {
  color: white;
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #161620;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms;
  outline: none;
  border: none;
  cursor: pointer;
}

#fa-search {
  background: black;
  font-size: 24px;
}

.search-input {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 20px;
  transition: 250ms;
  line-height: 50px;
  width: 250px;
}

#flex{
  display: flex; 
  overflow: scroll;
}

#flex::-webkit-scrollbar{
  display: none; 
}

#flex article{
    margin: 2vh;
    margin-bottom: 10vh;
    width: 200px;
    height: 300px;
}

#flex h3{
  position: absolute;
  text-align: center;
}

#fotos h3{
  color: white;
  text-align: center;
}


 /* formulier */
.opacitybox{
  margin-top: 3vh;
  color: white;
  text-align: center;
  font-size: 25px;
}

 .Placeholder {
  position: relative;
  overflow: hidden;
}

.Placeholder form {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
  font-size: 25px;
}

form {
  width: 50vw;
  margin-top: 25px;
  transform: all 4s ease-in-out;
  color: #fff;
  text-align: center;
}

input {
  height: 35px;
}

form .submit {
  background: #41811f;
  border-color: transparent;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .reset {
  background: #41811f;
  border-color: transparent;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

#Name {
  width: 100%;
  background: transparent;
  border: 3px solid #41811f;
  border-radius: 10px;
  outline: none;
  color: white;
  font-size: 15px;
  margin-bottom: 16px;
}

#E-mailadress {
  width: 100%;
  background: transparent;
  border: 3px solid #41811f;
  border-radius: 10px;
  outline: none;
  color: white;
  font-size: 15px;
  margin-bottom: 16px;
}

#subject {
  width: 100%;
  background: transparent;
  border: 3px solid #41811f;
  border-radius: 10px;
  outline: none;
  color: white;
  font-size: 15px;
  margin-bottom: 16px;
}

#message {
  width: 100%;
  height: 200px;
  background: transparent;
  border: 3px solid #41811f;
  border-radius: 10px;
  outline: none;
  color: white;
  font-size: 15px;
  margin-bottom: 16px;
}


/* Over ons */

#item-overons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

#item-overons h1{
  color: white;
  margin-bottom: 3vh;
}

#item-overons article{
  text-align: center;
  margin-bottom: 5vh;
  color: white;
}
