@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	background-size: cover;
}

body{
    background-color: #161620;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 100px;
    background-color: #1c1e31;
}

header nav{
    display: flex;
    justify-content: center;
    height: 100px;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

header nav ul li{
    float: left;
}

.fa-solid{
    color: white;
    
}

header nav ul li{
    margin: 1vh 3vw 1vh 3vw;
}

header nav ul li a{
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    transition: all 250ms;
}

header nav ul li a:hover{
    background-color: #92d050;
}

.active{
    background-color: #92d050;
}


     /* Footer */

     #footer{
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #1c1e31;
      }
  
      .footer-links{
        flex: 2;
        color: white;
        margin-left: 2vw;
      }

      .footer-links p{
        margin-right: 12vw;
      }

      .item-icons{
          margin-left: 5vw;
      }

      .fab{
        font-size: 27px;
        padding: 10px;
        margin: 0px 25px;
        border-radius: 50%;
        text-align: center;
        transition: all 250ms;
      }
      
      .fab:hover{
        background-color: #79c142;
      }
  
      .footer-center{
        text-align: center;
        flex: 2;
        color: white;
      }

      .footer-center nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .footer-center nav ul{
        text-align: left;
        margin-right: 1vw;
      }
  
      .footer-center h1{
        font-size: 23px;
        margin-bottom: 10px;
      }
  
      .footer-center li a{
        color: #ffffff;
      }
      
