@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	background-size: cover;
}
    
body{
    background-color: #161620;
    font-family: 'Roboto', sans-serif;
}

#main-history section{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#main-history article{
    margin-right: 10vw;
}

#main-history article p{
    padding-bottom: 1vh;
}
#main-history h1{
    text-align: center;
    color: white;
    margin-bottom: 2vh;
}