@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: 'Roboto', sans-serif;
  background: #161620;
}
.box{
  width: 300px;
  padding: 40px;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: black;
  text-align: center;
}
.box h1{
  color: white;
  font-weight: 500;
}
.box input[type = "email"], .box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "email"]:focus, .box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: green;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid green;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: green;
}

.box p {
  color: white;
}


.login{
  color: white;
}

.login a{
  color: green;
  font-weight: 900;
}

.login a:active{
  color: red;
}
