@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* CSS Document */

*{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	background-size: cover;
}

#item-info{
    display: flex;
    justify-content: space-between;
    color: white;
}