@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	background-size: cover;
}

body{
    background-color: #161620;
    font-family: 'Roboto', sans-serif;
}

    /* Series */

    #flex{
        display: grid; 
        grid-template-columns: 0fr 0fr 0fr 0fr 0fr 0fr 0fr; 
        grid-gap: 20px;
        justify-content: center;
        align-content: center;

    }

    #flex article{
        margin: 2vh;
    }
